@page "/"
@using FibonacciGrid.Client.Models
@using FibonacciGrid.Client.Services.ApplicationServices
@using FibonacciGrid.Client.Services.DomainServices
@inject IFibonacciCheckerService FibonacciCheckerService
@inject IGridCellIncrementerApplicationService GridCellIncrementerApplicationService


<h1>Fibonacci Grid</h1>

@if (_fibonacciGrid.FibonacciGrid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="fibonacci-table">
        <tbody>
            @for (var i = 0; i < _fibonacciGrid.FibonacciGrid.GetLength(0); i++)
            {
                var row = i;

                <tr>
                    @for (var j = 0; j < _fibonacciGrid.FibonacciGrid.GetLength(1); j++)
                    {
                        var column = j;
                        var gridCel = _fibonacciGrid.FibonacciGrid[i, j];
                        var highlightAnimation = gridCel.IsSequentialFibonacci ? "animateGreen 3s" : "";

                        <td class="fibonacci-td" data-value="@gridCel.Value"
                            style="animation: @highlightAnimation;
                                      -webkit-animation: @highlightAnimation;">

                            <a onclick="@(() => GridCellIncrementerApplicationService.IncrementGridCell(row, column, _fibonacciGrid))">
                                <span class="cell-fill"></span>
                            </a>

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}


@functions {

    Grid _fibonacciGrid;

    protected override void OnInit()
    {
        GridCellIncrementerApplicationService.OnGridCellsChange += this.StateHasChanged;
        _fibonacciGrid = new Grid(FibonacciCheckerService, 50);
    }
}
}
