@page "/fibonacci-grid"
@using FibonacciGrid.Client.Models

<h1>Fibonacci Grid</h1>

@if (_fibonacciGrid.FibonacciGrid == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <tbody>
            @for (var i = 0; i < _fibonacciGrid.FibonacciGrid.GetLength(0); i++)
            {
                <tr>
                    @for (var j = 0; j < _fibonacciGrid.FibonacciGrid.GetLength(1); j++)
                    {
                        <td>@_fibonacciGrid.FibonacciGrid[i, j].Value</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@functions {

    Grid _fibonacciGrid;

    protected override void OnInit()
    {
        _fibonacciGrid = new Grid(50);
    }
}
